


.ButtonLink {
	display: block;
	text-align: center;
	line-height: 62px;
	float: none;
	clear: both;
	border-radius: 3px;
}

.ButtonLink:hover {
	background-color: rgb(238, 238, 238);
}

.ButtonLink span {
	color: rgb(0, 0, 0);
	background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAgVBMVEXkGBfnGRjnGRjnGRjnGRjnGRjaFxbYFxbnGRjnGRjoGRjaFxbeGBfnGRjZFxbgGBfnGRjdFxbnGRjcFxbnGRjnGRjnGRjnGRjnGRjbFxbgGBfnGRjnGRjnGRjnGRjYFxbdFxfnGRjlGBfnGRjnGRgAAADlGBfiGBfXFxbaFxbnGRiGbM1kAAAAJnRSTlOrRaAMmWzm9FRanOLMZvG9EtMh15A5D5NR28E8Hmkn+NA2p4cDAMfSHJkAAAEVSURBVHjahdTrcoMgEAXgbZukubVqtAqIDVpI7Hn/B+wlxaxIh/PPnW8EZnaXHEu+WxXl5VIWq13O6wwJBRYlIqg3CGL6ANkKkVSWozrz9edPrrKnO6oPkzn1M3WoPbLTf15Pzs1VZv9QxU2oqhtquVmq9hcd/eeDcxF1/EECPud3r964Et/IIKGMIw2klKYOgVreq6MBSTWQ5CR+oqQRSTXSFWEa5/N4K1yXaLDefMCjMWkwkkwaSKKkwUBd0qAjnTTQ5EzKmFmrdFEDMWs6vMSM8e3LFDO8fV3D1MI0fqQUe25glJ2Gc4N/sqnvY56ruFH5bGE0MdPYYPW0RUiKNrLEtoYTs+VLjEWv96UEZLlfa17/AijxwSCnHrf8AAAAAElFTkSuQmCC") no-repeat scroll right center / 14px auto;
	font-weight: bold;
	padding: 0px 18px 0px 0px;
	line-height: 14px;
}


@media all and (max-width: 767px) {
	.ButtonLink {
		margin: 0px 10px 10px;
		border: 1px solid rgb(215, 215, 215);
		border-radius: 3px;
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		box-shadow: 0px 2px rgba(0, 0, 0, 0.05);
		line-height: 34px;
	}
}

.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0px;
}


a {
	color: rgb(255, 255, 255);
}


#HomePage .Page-content>div {
	position: relative;
}


img {
	border: 0px none;
}

.Box {
	border: 1px solid rgb(215, 215, 215);
	border-radius: 3px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	box-shadow: 0px 2px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	clear: both;
	position: relative;
	z-index: 10;
}

.Box:first-child {
	z-index: 11;
}

@media all and (max-width: 767px) {
	.Box-rbom {
		border: 0px none;
		padding: 0px;
		background: transparent none repeat scroll 0% 0%;
		box-shadow: none;
	}
}


.HomeOffer {
	margin: 0px 10px;
}

.HomeOffer .left-column {
	float: left;
	width: 33%;
	max-width: 60px;
	margin: 0px 10px 0px 0px;
}

.HomeOffer .right-column {
	float: left;
	width: calc(100% - 70px);
}

:root .HomeOffer {
	border-bottom: 0px none;
}

.HomeOffer a {
	display: inline-block;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 1px dotted rgb(215, 215, 215);
	width: 100%;
	box-sizing: border-box;
}

.HomeOffer a:hover {
	background: rgb(238, 238, 238) none repeat scroll 0% 0%;
}

:root .HomeOffer a {
	border-bottom: 0px none;
	position: relative;
}

:root .HomeOffer a::after {
	content: "";
	position: absolute;
	left: 10px;
	bottom: 0px;
	width: calc(100% - 20px);
	display: block;
	height: 1px;
	border-bottom: 1px dotted rgb(215, 215, 215);
}

.HomeOffer img {
	width: 55px;
	border-radius: 4px;
	border: 1px dotted rgb(215, 215, 215);
	box-shadow: 0px 2px rgba(0, 0, 0, 0.05);
	transition: all 0.2s ease 0s;
}

.HomeOffer:hover img {
	box-shadow: 0px 2px rgb(238, 238, 238);
}

.HomeOffer span,
.HomeOffer p {
	line-height: 18px;
}

.HomeOffer span {
	font-size: 17px;
	color: rgb(0, 0, 0);
}

.HomeOffer p {
	padding: 0px;
	font-size: 14px;
	color: rgb(153, 153, 153);
}

@media all and (max-width: 767px) {
	 :root .HomeOffer a {
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		margin-bottom: 10px;
		width: 100%;
		border: 1px solid rgb(215, 215, 215);
	}
	.HomeOffer a:hover {
		background: rgb(238, 238, 238) none repeat scroll 0% 0%;
	}
	 :root .HomeOffer a::after {
		content: none;
	}
	.HomeOffer p {
		hyphens: auto;
	}
}


.HomeTopListColumn h2 {
	font-size: 18px;
	line-height: 1.25;
	padding: 20px 20px 0px;
}

.HomeTopListColumn>h2.HomeTopListColumn-largetitle {
	font-size: 18px;
	line-height: 20px;
	position: relative;
	border-bottom: 1px dotted rgb(215, 215, 215);
	padding-bottom: 20px;
}

@media all and (max-width: 767px) {
	.HomeTopListColumn {
		float: none;
	}
	.HomeTopListColumn .HomeTopListColumn-largetitle {
		border: 0px none;
		padding: 0px 0px 10px;
		margin: 0px;
		width: 100%;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
	}
	.HomeTopListColumn h2 {
		padding: 0px 10px 10px;
	}
	.HomeTopListColumn>h2.HomeTopListColumn-largetitle {
		border-bottom: 0px none;
	}
}


.HomeTopListFeaturedBox {
	float: right;
	width: 24%;
	position: relative;
	margin-top: 20px;
}

@media all and (max-width: 979px) {
	.HomeTopListFeaturedBox {
		width: 100%;
		margin: 0px;
	}
}


.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0px;
}


html {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

body {
	font: 400 14px/1.5 Helvetica, Arial, sans-serif;
	position: relative;
	background: rgb(246, 249, 251) none repeat scroll 0% 0%;
}

a {
	text-decoration: none;
	color: rgb(51, 85, 153);
	cursor: pointer;
}

#Page {
	overflow-x: hidden;
	min-width: 300px;
	position: relative;
}

#Page-main {
	position: relative;
	left: 0px;
	float: left;
	width: 100%;
	transition: left 0.25s ease 0s;
	padding-bottom: 13px;
	background-color: rgb(246, 249, 251);
	font-size: 0px;
	line-height: 0;
}

.Page-content {
	max-width: 1180px;
	padding: 10px;
	margin: auto;
	position: relative;
	font-size: 14px;
	line-height: 1.5;
	z-index: 1;
}

.skyscrapers_on .Page-content {
	padding-left: 140px;
	padding-right: 140px;
}


@media screen and (max-width: 767px) {
	.Page-content {
		max-width: 480px;
		padding: 10px;
	}
	#Page-main {
		z-index: 2;
	}
}

@media all and (max-width: 1269px) {
	.skyscrapers_on .Page-content {
		padding: 10px;
	}
}


body {
	margin-top: 0px ! important;
	padding-top: 0px ! important;
}

